.gallery {
	margin-bottom: 1.5em;
	// display: grid;
	display: flex;
	flex-wrap: wrap;

	.gallery-item {
		max-width: 100%;
		display: inline-block;
		text-align: center;
		vertical-align: top;
		// width: 100%;
		overflow: hidden;
		position: relative;
		border-bottom: none;
		margin: 0;
		padding: 0;
		line-height: 0;

		.gallery-icon {
			height: 100%;
			width: 100%;

			&:hover{
				a:before{
					background-color: rgba(0, 0, 0, 0.4);
				}
				a:after{
					top: calc(50% - 15px);
				}
			}

			a {
				display: block;
				height: 100%;

				&:after {
				    display: block;
				    content: "\f067";
						font: normal normal normal 25px/1 FontAwesome;
				    height: 25px;
				    width: 25px;
				    position: absolute;
				    left: calc(50% - 15px);
				    top: -100px;
				    color: #fff;
						text-rendering: auto;
						-webkit-font-smoothing: antialiased;
						-webkit-transition: all 0.5s ease;
						-moz-transition: all 0.5s ease;
						-o-transition: all 0.5s ease;
						transition: all 0.5s ease;
				}

				&:before{
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						background-color: transparent;
						display: block;
						width: 100%;
						height: 100%;
						-webkit-transition: all 0.5s ease;
						-moz-transition: all 0.5s ease;
						-o-transition: all 0.5s ease;
						transition: all 0.5s ease;
				}
			}
			img {
					object-fit: cover;
					height: 100%;
					width: 100%;
					max-width: 100%;
					top: 0;
					left: 0;
					display: block;
			}
		}

		figcaption {
		    display: none;
		}
	}
}

.gallery-columns-3 figure{
		// grid-template-columns: repeat(4,1fr);
		width: calc(99.9% * (1/3));
}

.gallery-columns-2 figure{
		// grid-template-columns: repeat(4,1fr);
		width: calc(100% * (1/2));
}

.gallery-columns-1 figure{
		// grid-template-columns: repeat(4,1fr);
		width: calc(100% * (1/1));
}

.gallery-columns-4 figure{
		// grid-template-columns: repeat(4,1fr);
		width: calc(100% * (1/4));
}

.gallery-columns-5 figure{
		// grid-template-columns: repeat(4,1fr);
		width: calc(100% * (1/5));
}

.gallery-columns-6 figure{
		// grid-template-columns: repeat(4,1fr);
		width: calc(99.9% * (1/6));
}

.gallery-columns-7 figure{
		// grid-template-columns: repeat(4,1fr);
		width: calc(99.9% * (1/7));
}

.gallery-columns-8 figure{
		// grid-template-columns: repeat(4,1fr);
		width: calc(99.9% * (1/8));
}

.gallery-columns-9 figure{
		// grid-template-columns: repeat(4,1fr);
		width: calc(99.9% * (1/9));
}
@media (max-width: 767px) {
    .gallery figure{
				// grid-template-columns: repeat(4,1fr);
				width: calc(100% * (1/3));
		}
}
